html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
/*CUERPO PRINCIPAL*/
.main1 {
  display: grid;
  grid-template-rows: 14vh 86vh auto;
}
/*BARRA SUPERIOR*/
.top {
  grid-row: 1;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.dc-marvel{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top center;
  transition-duration: 1.5s;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.marvel-logo{
  cursor: pointer;
  height: 10vh;
  width: 25vh;
  margin: 0 1vh 0 auto;
  align-self: center;
  transition-duration: 3s;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.2), 3px 3px 15px rgba(0, 0, 0, 0.2);
}
.move-left {
  cursor: pointer;
  margin-right: 12vh;
  opacity: 30%;
  transition-duration: 1.5s;
}
.dc-logo{
  cursor: pointer;
  height: 12vh;
  width: 12vh;
  margin: 0 auto 0 5vh;
  align-self: center;
  transition-duration: 3s;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}
.move-right{
  cursor: pointer;
  margin-left: 8vh;
  opacity: 30%;
  transition-duration: 1.5s;
}
.opacate {
  filter:brightness(5%)
}
/*CUERPO CENTRAL*/
.mid {
  grid-row: 2;
  background-color: white;
  /*background-image: url(resources/background.jpg);*/
  
  display: grid;
  grid-template-rows: 1fr 6fr 1.5fr;
}
.mid2{
  background-color: #470975;
}
.mid2 nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.mid2 nav ul li{
  list-style: none;
  display: flex;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  font-size: clamp(16px, 5vw, 32px);
  justify-content: center;
  margin: 0;
}
.hero{
  appearance: none;
  background: transparent;
  border: none;
  color: whitesmoke;
  cursor: pointer;
  font-family: inherit;
  font-weight: 800;
  line-height: 1;
  padding: 1em 1.5em;
  position: relative;
  transition: filter 0.3s;
}
.hero:hover{
  filter: brightness(1.1);
}
.hero:active{
  filter: brightness(0.8);
}
.hero > span {
  display: block;
  position: relative;
  transition: transform 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  z-index: 1;
  overflow: hidden;
}
.hero:hover > span {
  transform: scale(1.1)
}
.hero:active > span {
  transform: scale(0.95);
}
.hero > svg{
  fill: #950cde;
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
}
.hero > svg > path {
  transition: 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.hero:hover > svg > path {
  d: path("M0,0 C0,-5 100,-5 100,0 C105,0 105,100 100,100 C100,105 0,105 0,100 C-5,100 -5,0 0,0");
}

.hero:active > svg > path {
  d: path("M0,0 C30,10 70,10 100,0 C95,30 95,70 100,100 C70,90 30,90 0,100 C5,70 5,30 0,0");
}
.mid3{
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.image-and-bio{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.image-and-bio .mid-image{
  width: 25%;
  margin: 1vh auto 1vh auto;
  position: relative;
}
.image-and-bio .mid-image img {
  height: 100%;
  width: 100%;
  transition: transform 0.6s ease-in-out;
  transition-delay: 0.3s;
  border: 2px solid gray;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  cursor: zoom-in;
}
.image-and-bio .mid-image img:hover {
  transform: scale(1.5);
  border: 2px solid lightgray;
  z-index: 5;
  overflow: hidden;
}
.image-and-bio .mid-image img:hover + .hero{
  display: hidden;
}
.image-and-bio .mid-bio{
  width: 40%;
  margin: 1vh auto 1vh auto;
}
.image-and-bio .mid-bio p{
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 500;
}
#comic-titulo{
  font-size: 30px;
  font-weight: 600;
}
#comic-precio{
  font-size: 52px;
  font-weight: 700;
  }
.price-and-etc{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.price-and-etc div{
  width: 95%;
}
.price-and-etc div h3{
  margin: 0;
}
.price-and-etc .boton-tipos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.artic-types {
  border: solid 2px #470975;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  position: relative;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
}
.artic-types div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  box-shadow: 2px 2px 4px 4px black;
}
.artic-types input {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  opacity: 0;
  cursor: pointer;
}
.artic-types input[type=checkbox]:checked ~ div {
  background-color: #470975;
  color: whitesmoke;
  box-shadow: inset 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}
.price-and-etc .add-cart {
  cursor: pointer;
  border: none;
  font-weight: 800;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  color: whitesmoke;
  background-color: black;
  margin-left: 6em;
  padding: 14px 20px 14px 20px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.price-and-etc .add-cart:focus {
  opacity: 0;
  transform: translateY(50px);
}
.mid4 {
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #470975;
}
/*PARTE INFERIOR*/
.bot {
  grid-row: 3;
  display: grid;
  grid-template-rows: 1fr 2fr;
}
/*Boton carro*/
.cart-body{
  font-family: system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shopping-cart{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  display: flex;
  align-items: center;
  padding: 16px 20px 16px 15px;
  height: 56px;
  position: relative;
  font-family: inherit;
  font-size: 1em;
  line-height: 1em;
  font-weight: 500;
  background-color: white;
  cursor: pointer;
  border-radius: 32px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.25);
  -webkit-tap-highlight-color: transparent;
  transition: box-shadow 0.2s ease, background-color 150ms ease;
}
  .shopping-cart:focus {
   box-shadow: 0 2px 20px 8px rgba(0,0,0,0.5);
   outline: none;
}
  .shopping-cart:hover, .shopping-cart:active {
    background-color: #eee;
  }
#cart {
  margin-right: 12px;
  transform-origin: 20% 100%;
  opacity: 1;
}

@keyframes slide-up-fade {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-16px);
    opacity: 0;
  }
}

@keyframes roll-out {
  0% {
    transform: translate(0) rotate(0);
  }
  20% {
    transform: translate(0) rotate(-70deg);
    opacity: 1;
  }
  50% {
    transform: translate(0) rotate(-45deg);
    opacity: 1;
  }
  100% {
    transform: translate(140px) rotate(-47deg);
    opacity: 0;
  }
}
.checked-out #checkout {
  animation: slide-up-fade 150ms 1;
  animation-fill-mode: both;
}
.checked-out #cart {
  animation: roll-out 1s 1 150ms;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}
@keyframes checkmark {
  from {
    stroke-dashoffset: 26px;
  }
  to {
    stroke-dashoffset: 0;  
  }
}
#check {
  position: absolute;
  left: calc(50% - 12px);
}
#check path {
  stroke-dasharray: 26px;
  stroke-dashoffset: 26px;
}
.checked-out #check path {
  animation: checkmark 150ms 1 1150ms;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}
.checked-out button {
  background-color: #6a0dad;
  transition-delay: 1150ms;
}
/*Barra progreso*/
.progress-bar-body {
  background-color: #470975;
  grid-row: 1;
}
.progress-bar{
  position: relative;
  width: 50%;
  background-color: #eee;
  margin: 1vh auto 1vh auto;
  padding: 1vh 3vh;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: inset 0.5px 0.5px 1.5px 1.5px rgba(255, 255, 255, 0.1);
}
.bar {
  position: relative;
  display: inline-block;
  width: 0;
  height: 1.5vh;
  background-color: #cc01e5;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 2);
  border-radius: 4px;
  overflow: hidden;
  transition: width 0.5s ease;
}

.box4 {
  grid-row: 2;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #470975;
}
.box4 .logos {
  height: 10vh;
  width: 80%;
  margin: auto auto auto 5vh;
  position: relative;
}
.box4 .logos span {
  color: whitesmoke;
  text-align:center;
  font-family: Comic Sans MS;
  position: absolute;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 3);
  bottom: 0;
}
.box4 .assembler-logo {
  margin: auto;
  height: 14vh; 
  width: 14vh;
  transition-duration: 1s;
}
.box4 .assembler-logo:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 5);
} 
/*Form PASO 1*/
/*BURBUJAS*/
.bubble {
  position: absolute;
  right: 0;
  height: 30%;
  width: 40%;
  margin: 0;
  padding: 0;
  transform: rotate(15deg);
  animation: appear 8s infinite;
}
@keyframes appear {
  100% {
    opacity: 100%
  }
  75% {
    opacity:75%;
  }
  25% {
    opacity:25%
  }
  0% {
    opacity:0%
  }
}
#how-much-time {
  color: white;
}
.hidden {
  display:none;
}
@media screen and (hover: none) and (max-width: 812px){
  .main1 {
  display: grid;
  grid-template-rows: auto auto auto;
}
  .marvel-logo{
  cursor: pointer;
  height: 5vh;
  width: 12vh;
  margin: 0 1vh 0 3vh;
  align-self: center;
  transition-duration: 3s;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.2), 3px 3px 15px rgba(0, 0, 0, 0.2);
}
  .dc-logo{
  cursor: pointer;
  height: 5vh;
  width: 5vh;
  margin: 0 auto 0 3vh;
  align-self: center;
  transition-duration: 3s;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}
  .dc-marvel{
  margin-top: 2vh;
  height: 70%;
  width: 100%;
  object-fit: cover;
  object-position: top center;
  transition-duration: 1.5s;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 3px 3px 8px rgba(0, 0, 0, 0.2);
}
  .mid2 nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1vh 6vh 1vh -1vh;
}
  .mid2 nav ul li{
  list-style: none;
  display: flex;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  font-size: clamp(16px, 5vw, 32px);
  justify-content: center;
  margin: 0;
  width: 4vh;
}
  .image-and-bio .mid-bio {
    display: none;
  }
  .image-and-bio .mid-bio p{
  font-family: 'Rubik', sans-serif;
  font-size: 8px;
  font-weight: 400;
}
  #comic-titulo{
    margin: 0;
    font-size: 16px;
}
  .artic-types {
  border: solid 2px #470975;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  position: relative;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  font-size: 8px;
}
  .artic-types div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  box-shadow: 1px 1px 2px 2px black;
}
.artic-types input {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  opacity: 0;
  cursor: auto;
}
  .price-and-etc .add-cart {
  cursor: pointer;
  border: none;
  font-weight: 600;
  font-size: 10px;
  font-family: 'Rubik', sans-serif;
  color: whitesmoke;
  background-color: black;
  margin-left: 4em;
  padding: 12px 24px 12px 24px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
  #comic-precio{
    font-size: 24px;
    font-weight: 700;
  }
  #add-to-cart{
    margin-right: 4vh;
    height: 6vh;
    width: 12vh;
  }
  .image-and-bio .mid-image{
     width: 90%;
    height: 90%;
  margin: auto 1vh auto 1vh;
  position: relative;
}
.image-and-bio .mid-image img {
  height: 100%;
  width: 100%;
  transition: transform 0.6s ease-in-out;
  transition-delay: 0.3s;
  border: 2px solid gray;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  cursor: zoom-in;
}
  .image-and-bio .mid-image img:hover {
  transform: scale(1.8) translateX(45px);
  border: 2px solid lightgray;
  z-index: 5;
  overflow: hidden;
}
  #mid2{
    grid-row: 2;
    height: 100%;
    width: 100%;
  }
}